.env
.env.*
.gitignore
.gitattributes
vsc-extension-quickstart.md
deploy-local.sh

.git/**
.vscode/**
assets/**
bkup/**
release/**
scripts/**
test/**

themes/edo-nezu-indigo-color-theme.json
themes/edo-nezu-trial-color-theme.json

# imagesフォルダ内は公開に必要な画像のみを含める
images/*
!images/icon.png
!images/edo-nezu-dark.png
!images/edo-nezu-light.png
